.forum {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  &__title {
    @include title_fz40;
    text-align: center;
    max-width: 240px;
    margin: 0;
    margin-bottom: 30px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border: 2px solid var(--color-primary);
    border-radius: $border-radius;
    background-image: url('../images/background_second.png');
    min-height: 626px;
    width: 100%;
    max-width: 626px;
  }

  &__form {
    width: unset;
    min-height: unset;
  }

  &__names {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__name {
    font-size: $font-size;
    text-transform: uppercase;
  }

  &__links {
    position: absolute;
    top: 30px;
    left: -120px;
    gap: 20px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  &__loader {
    width: 100%;
    text-align: center;
  }

  &__topic {
    color: $color-white;
    text-decoration: none;
    margin-bottom: 8px;

    &:hover {
      color: var(--color-primary);
    }
  }
}
