$photo-size: 36px;

.post {
  position: relative;
  display: flex;
  align-items: center;
  background: $color-back-topic;
  border: none;
  border-radius: $border-radius;
  padding: 10px;
  color: $color-white;
  cursor: pointer;

  &__answer {
    margin-top: 8px;
    margin-left: 12px;
    background-color: rgba(63, 40, 139, 0.85);
    width: calc(100% - 26px);
  }

  &__field {
    width: 0;
    height: 0;
    transition: all 1s;

    &-active {
      width: 80%;
      padding: 5px;
      height: 80px;
      background-color: $color-white;
      color: $color-black;
      margin-top: 10px;
      border: 2px solid #666;
      border-radius: 4px;
      overflow: auto;
      transition: all 1s;
    }
  }

  &__form {
    margin-bottom: 0;
  }

  &__author {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-right: 10px;
    align-items: center;
    gap: 10px;
    border-right: 1px solid #00ffd1;

    &-name {
      font-weight: $font-weight;
      font-size: $fz24;
      line-height: 14px;
      text-align: center;
      color: $color-white;
    }
  }

  &__photo {
    width: $photo-size;
    height: $photo-size;
    border-radius: $border-radius-circle;
  }

  &__text {
    display: flex;
    align-items: center;
  }

  &__btn {
    margin-left: 10px;
    cursor: pointer;
    font-size: $fz10;
  }
}

.post:hover {
  .reaction-wrapper {
    transition: 1s all;
    display: block;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-name: slidegdz;
    animation-fill-mode: forwards;
  }
}

@keyframes slidegdz {
  0% {
    width: 30%;
  }
  100% {
    width: 30%;
  }
}

.reaction-count {
  position: absolute;
  right: 0;
  margin-left: 12px;
  margin-right: 12px;
  top: -5px;
  display: flex;
  align-items: center;

  & div {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
