.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & .link {
      margin-bottom: 10px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: $grid-template-profile;
    column-gap: $grid-gap;
  }

  &__title {
    @include title_fz40;
    width: 100%;
    text-align: center;
    margin: 0 0 30px;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: calc($grid-gap * 2);
    margin-bottom: 0;
  }

  & .avatar {
    margin-bottom: 30px;
  }

  & .card__title {
    position: absolute;
    font-size: $fz40;
    text-transform: none;
    margin: 0;
    top: -80px;
  }

  & .form__footer {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
