.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__status,
  &__text {
    color: $color-white;
    margin: 0;
  }

  &__status {
    font-size: $fz180;
    text-align: center;
  }

  &__text {
    margin-bottom: 20px;
  }
}
