.current-score {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 10px;

  &__title,
  &__number {
    margin: 0;
    font-size: $fz24;
  }

  &__title {
    color: var(--color-accent);
  }

  &__number {
    font-size: $fz20;
  }
}
