.game-start-timer {
  display: flex;
  justify-content: center;
  align-items: center;

  &__count {
    font-size: $fz180;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}
