.game {
  display: grid;
  grid-template-columns: 18% 64% 18%;
  grid-template-rows: 8% 84% 8%;
  padding: 0 60px;
  grid-auto-flow: row;
  grid-template-areas:
    'game-stat . hight-score'
    'game__menu game .'
    'healths . ammunition';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;

  &[data-start='true'] {
    position: relative;
    opacity: 1;
    top: auto;
    left: auto;
  }

  &__current-stat {
    grid-area: game-stat;
    display: flex;
    align-items: flex-start;
    font-size: $fz24;
    text-transform: uppercase;
    gap: 28px;
    padding-top: 8px;
  }

  &__menu {
    @include list;
    grid-area: game__menu;

    &__item {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__container {
    grid-area: game;
  }

  & .hight-score {
    grid-area: hight-score;
    align-self: flex-start;
    padding-top: 8px;
  }

  & .healths {
    grid-area: healths;
    justify-content: flex-end;
    align-items: flex-start;
  }

  & .ammunition {
    grid-area: ammunition;
    align-items: flex-start;
  }
}
