@import '../../styles/variables';

.layout {
  height: 100%;
  padding: 16px;
  position: relative;
  z-index: 1;
}

.layout__back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;

  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
  }
}

.layout__images {
  position: absolute;
  left: 50%;
  top: 74px;
  width: 100%;
  height: 100%;
  max-height: calc(100% - 148px);
  transform: translateX(-50%);
  z-index: -9;

  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: contain;
  }
}

.layout__login {
  height: 100%;
  padding: 200px 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
