CLIENT_PORT=3000
SERVER_PORT=3001
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
DB_HOST=localhost
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=secret
VITE_DEV_API_URL=http://localhost:3001
VITE_API_PATH=/api/v1
VITE_YANDEX_API_URL=https://ya-praktikum.tech
VITE_YANDEX_API_PATH=/api/v2
