.page {
  width: 100%;
  height: 100%;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('../images/background_first.gif');
    width: 100%;
    height: 100%;
  }

  &:not([data-game='true']):after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('../images/asteroid_full.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  & > :first-child {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &--saturn {
    --color-primary: #800080;
    --color-accent: #6495ed;

    &::before {
      background-image: url('../images/background_saturn.gif');
      background-position: top;
      background-size: cover;
    }

    &:not([data-game='true']):after {
      display: none;
    }
  }

  &--mars {
    --color-primary: #e49b0f;
    --color-accent: #fdda0d;

    &::before {
      background-image: url('../images/background_mars.gif');
      background-position: center;
      background-size: cover;
    }

    &:not([data-game='true']):after {
      display: none;
    }
  }

  &--uranus {
    --color-primary: #c3b1e1;
    --color-accent: #cf9fff;

    &::before {
      background-image: url('../images/background_uranus.gif');
      background-position: center;
      background-size: cover;
    }

    &:not([data-game='true']):after {
      display: none;
    }
  }
}
