.password {
  &__wrapper {
    display: grid;
    grid-template-columns: $grid-template-profile;
    column-gap: $grid-gap;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & .link {
      margin-bottom: 10px;
    }
  }

  &__title {
    @include title_fz40;
    width: 100%;
    text-align: center;
    margin: 0 0 30px;
  }

  & .form {
    margin-bottom: 0;
  }
}
