.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    display: grid;
    grid-template-columns: $grid-template-profile;
    column-gap: $grid-gap;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & .link {
      margin-bottom: 10px;
    }
  }

  &__title {
    font-size: $fz80;
    margin-bottom: 10px;
  }

  & .form {
    margin-bottom: 0;
  }
}
