.feedback {
  &__text {
    // font-size: $font-size;
    // text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }
  &__button_geolocation {
    color:rgb(20, 156, 65);
    margin-bottom: 20px;
    min-width: 200px;
    --height: 50px;
    text-transform: uppercase;
    height: var(--height);
    border-radius: $border-radius;

    &:hover {
      opacity: 0.8;
    }
  }
}
