.hight-score {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: flex-end;

  &__title,
  &__number {
    margin: 0;
    font-size: $fz24;
  }

  &__title {
    color: var(--color-accent);
  }

  &__number {
    font-size: $fz20;
  }
}
