.hight-score {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: flex-end;
  font-size: $fz40;

  &__title,
  &__number {
    margin: 0;
  }

  &__title {
    color: var(--color-accent);
  }
}
