.branch {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  &__title {
    @include title_fz70;
    text-align: center;
    max-width: 390px;
    margin: 0;
    margin-bottom: 30px;
  }

  &__wrapper {
    grid-template-columns: $grid-template-forum;
  }

  &__names {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__name {
    font-size: $font-size;
    text-transform: uppercase;
  }

  &__links {
    position: absolute;
    top: 30px;
    left: -150px;
    gap: 20px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  &__posts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 550px;
  }

  &__numbers {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: end;
    margin-top: 30px;
  }

  &__pages {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
  }
}
