.btn {
  @include btn;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 12px;
  font-size: $font-size;
  border-radius: $border-radius;
  background-color: var(--color-primary);
  transition: all 0.2s ease-in-out;
  position: relative;

  &:hover {
    transform: scale(1.015);
  }

  &[disabled] {
    opacity: 0.4;
    pointer-events: none;
  }
}

.btn--loading {
  pointer-events: none;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    width: calc(var(--height) / 2);
    height: calc(var(--height) / 2);
    top: 50%;
    left: 50%;
    border-radius: $border-radius-circle;
    border: 3px solid $color-white;
    border-color: $color-white transparent $color-white transparent;
    animation: rotate 1.2s linear infinite;
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: inherit;
    border-radius: inherit;
  }
}

.btn--green {
  background-color: $color-green;

  &:hover {
    background-color: $color-green;
  }
}

.btn-audio {
  @include btn;

  transition: transform 0.4s ease;

  &:hover {
    transform: scale(1.1);
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.btn-answer {
  height: 10px;
  min-width: 90px;
  font-size: $fz24;
  margin-left: auto;
}
