$font-family: 'Minecraftia Regular', sans-serif;
$font-size: 16px;
$line-height: 1.4;
$border-radius: 5px;

// цвета
$color-black: #000000;
$color-white: #ffffff;
$color-primary: #4d9be6;
$color-accent: #00ffd1;
$color-danger: #ff6370;
