$font-family: "Minecraftia Regular", sans-serif;
$font-size: 16px;
$line-height: 1.4;
$border-radius: 5px;

// цвета
$color-black: #000000;
$color-white: #ffffff;
$color-primary: #4D9BE6;
$color-accent: #00FFD1;
$color-danger: #FF6370;