$font-family: 'Minecraftia Regular', sans-serif;
$font-size: 16px;
$font-size-timer: 256px;
$line-height: 1.4;
$line-height-timer: 256px;
$border-radius: 5px;
$font-weight: 400;
$border-radius-circle: 50%;
$grid-template-profile: 180px 1fr 180px;
$grid-gap: 30px;

// цвета
$color-black: #000000;
$color-black-50: rgba(0, 0, 0, 0.5);
$color-white: #ffffff;
$color-primary: #4d9be6;
$color-accent: #00ffd1;
$color-danger: #ff6370;
$color-hover-button: #4187c8;
$color-back-topic: rgba(36, 29, 60, 0.85);

$fz10: 10px;
$fz16: 16px;
$fz40: 40px;
