$font-family: 'Minecraftia Regular', sans-serif;
$font-size: 16px;
$font-size-timer: 96px;
$line-height: 1.4;
$line-height-timer: 1;
$border-radius: 5px;
$font-weight: 400;
$border-radius-circle: 50%;
$grid-template-profile: 180px 1fr 180px;
$grid-gap: 30px;
$board-ident: 45px;

// цвета
$color-black: #000000;
$color-black-50: rgba(0, 0, 0, 0.5);
$color-white: #ffffff;
$color-primary: #4d9be6;
$color-accent: #00ffd1;
$color-green: #6cc824;
$color-danger: #ff6370;
$color-hover-button: #4187c8;
$color-back-topic: rgba(36, 29, 60, 0.85);

$fz10: 10px;
$fz16: 16px;
$fz20: 20px;
$fz24: 24px;
$fz36: 36px;
$fz40: 40px;
$fz48: 48px;
$fz64: 64px;
$fz96: 96px;

//hp
$hp-size: 45px;

$photo-size: 45px;
