.text {
    color: $color-white;

    &__500 {
        @include title_fz96;
        font-weight: $font-weight;
        text-align: center;
    }

    &__error {
        @include title_fz40;
        font-weight: $font-weight;
    }
}

.button-back {
    @include btn-back; 
}
