.health {
  position: relative;
  width: $hp-size;
  height: $hp-size;
  background-image: url('../images/life/main_ship_full.gif');
  background-size: 100% 100%;
  list-style-type: none;
  margin: 0;
}

.healths {
  position: absolute;
  z-index: 2;
  bottom: 25px;
  left: 25px;
  display: flex;
  justify-content: start;
  margin: 0;
  padding: 0;
}
